:root {
    --primary-color: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}

body{
    margin:0px;
    font-family: open-sans,cursive;;
}


.navigation{
    background-color: var(--primary-color);
    padding:1.5rem;
    display: block;
}

.navigation .nav-brand{
    font-size: 2rem;
    text-align: center;

}

main{
    margin:auto;
    padding: 1rem;
    max-width: var(--width-break); 
    box-sizing: border-box;
}

#txt-input{
    box-sizing: border-box;
    display: block;
    width:100%;
    min-height: 20vh;
    margin:2rem;
    font-size: large;
    border: 1px solid black;
}

#btn-translate{
    background-color: var(--primary-color);
    border: none;
    margin:2rem;
    padding: 1rem 2rem;
    font-family: open-sans,cursive;
    font-size: large;
   display: block;
}

#text{
    font-size: large;
    margin:2rem;
    display:block;
    
}

#output{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 10vh;
    margin:2rem;
    overflow: scroll;
    font-size: large;
    border: 1px solid black;
     
   
}

.footer{
    background-color: var(--primary-color);
    padding:0.5rem;
    padding-bottom: 2rem;
    display:block;
}

.footer-txt{
    text-align: center;
    max-width: 600px;
    margin:auto;
    display: block;
}

